<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.agriculture.dao.AbnormalMapper" >


    <select id="getFaultInfo" resultType="com.wisdom.agriculture.pojo.Abnormal">
        select *from abnormal
    </select>


    <delete id="deleteFault">
        delete *from abnormal where id=#{id}
    </delete>

</mapper>